.open-button {
  background-color: $accent-color;
  color: $white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 6%;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 30px;
  cursor: pointer;
}

.close-button {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: $white-color;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
}
.button-icon {
  width: 11px;
  height: 11px;
}
