.descriptions {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 3%;
  margin: 0;
}

.team-list-item {
  background-color: $white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 460px) {
    margin-left: 15px;
    width: 450px;
    height: 622px;
  }
  @media screen and (min-width: 768px) {
    width: calc(50% - 30px);

    &:not(2n) {
      margin-right: 0px;
    }
    margin-bottom: 30px;
    width: 354px;
    height: 536px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    width: 270px;
    height: 428px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team-title {
  color: $dark-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  margin-bottom: 0;
  @media screen and (min-width: 1200px) {
    margin-left: -100px;
  }
}
.team-container {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 460px) {
    min-width: 480px;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    min-width: 768px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-bottom: 0;
    margin-top: 94px;
    height: 600px;
  }
}

.names-item {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: Center;
  letter-spacing: 3%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-photo {
  @media screen and (min-width: 460px) {
    width: 450px;
    height: 460px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}

.jobs {
  font-size: 16px;
  line-height: 1.2;
  text-align: Center;
  letter-spacing: 3%;
  margin-top: 0;
  margin-bottom: 16px;
  color: $main-color;
}

.team-list {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) and(max-width:1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
  }
}
