.porfolio {
  color: $dark-color;
  background-color: $white-color;
}

.portfolio-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 46px;
  width: 460px;
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-top: 94px;
    padding-bottom: 50px;
  }
}
