.porfolio {
  color: $dark-color;
  background-color: $white-color;
}

.portfolio-container {
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
