.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /*i=IE6, IE7*/
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  margin: 0;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/raleway-v17-latin-700.woff2") format("woff2"),
    url("./fonts/raleway-v17-latin-700.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin-regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto-v20-latin-500.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin-500.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/raleway-v17-latin-700.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin-700.woff") format("woff");
  font-weight: 700;
}
