textarea {
  resize: none;
}

.comment-field {
  height: 120px;
  width: 450px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  outline-color: $accent-color;
}

.modal-field textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
