.name-svg,
.tel-svg,
.mail-svg {
  position: absolute;
  top: 30px;
  left: 55px;
  --color1: #000000;
}

.field:focus-within + .tel-svg {
  --color1: $accent-color;
}
.field:focus-within + .mail-svg {
  --color1: $accent-color;
}
.field:focus-within + .name-svg {
  --color1: $accent-color;
}
