.header-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-bottom: 1px solid #ececec;
  width: 100%;
  height: 80px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  margin-right: 85px;
  padding-left: 215px;
}

.part-of-logo {
  color: $accent-color;
}

.list {
  list-style: none;
  padding: 0;
}

.site-nav {
  display: flex;
  margin: 0;

  & .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav-link {
  position: relative;
  text-decoration: none;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  margin: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &.current::after {
    position: absolute;
    top: 45px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    border-color: $accent-color;
    background-color: $accent-color;
  }

  &:hover,
  &:focus,
  & .site-nav-link .current {
    color: $accent-color;
  }
}

.contacts-link {
  text-decoration: none;
  color: $main-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  margin-right: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    --color2: $accent-color;
  }
}

.contacts-list {
  display: flex;
  margin-left: auto;

  &:last-child {
    padding-right: 215px;
  }
}

.contacts-item {
  margin-right: 10px;
  width: 16px;
  height: 11px;
  fill: currentColor;
}

.button-list {
  display: flex;
  justify-content: center;
  margin: 0;
}
