.team-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}

.team-list-item {
  background-color: $white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.team-container {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.social-links {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: $white-color;
  justify-content: center;
  transition-property: --color $timing-function,
    background-color $timing-function;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    background-color: $accent-color;
    --color1: $white-color;
    border-radius: 50%;
  }
}
.social-links-list {
  display: flex;
  padding-bottom: 24px;
  justify-content: center;
}
.social-links-svg {
  width: 20px;
  height: 20px;
  display: block;
  align-self: center;
  fill: currentColor;
}

.team-title {
  margin: 0em;
  color: $dark-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
}

.names-item {
  color: $dark-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: Center;
  letter-spacing: 3%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.jobs {
  font-size: 16px;
  line-height: 1.2;
  text-align: Center;
  letter-spacing: 3%;
  margin-top: 0;
  margin-bottom: 16px;
  color: $main-color;
}
